@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.next-logo-animate {
  stroke-dasharray: 6000;
  stroke-width: 5px;
  animation: draw 12s linear forwards infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 6000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.social-icon {
  width: 100%;
  height: 100%;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  @apply overflow-x-scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.prose h2 {
  @apply py-5 text-3xl font-black text-slate-light;
}
.prose p {
  @apply py-1 text-base leading-relaxed text-slate;
}

.rehype-code-title {
  @apply absolute font-mono font-bold top-5 right-5 text-slate-light;
}
.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}
.prose a {
  @apply text-lg underline text-navy-green;
}
.prose em {
  @apply px-3 py-1 font-mono rounded bg-navy-dark text-slate-light;
}
.prose strong {
  @apply my-5 font-mono text-lg font-bold text-slate-light;
}
.prose ol {
  @apply list-disc list-inside text-slate;
}

.prose li {
  @apply p-3;
}
.prose ul {
  @apply list-disc list-inside text-slate;
}

.prose li {
  @apply p-3;
}
.prose blockquote {
  @apply p-3 my-3 font-mono rounded bg-navy-dark;
}
.prose blockquote p {
  @apply text-slate-light;
}
